//PAGINA DE CONTACTO
h2 {
    display: flex;
    justify-content: center;
    font-family: sedgwick;
    color: cadetblue;
    font-size: 250%;
    text-shadow: 4px 4px 4px black;
  }
  
  main form {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 90%;
    align-items: center;
    background-color: #defffc;
    border-radius: 15px;
  
    div {
      margin: 2%;
    }
  
    h2 {
      font-size: 200%;
    }
  }
  
  .boxForm {
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .boxFormInd {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .boxForm input {
    height: 30px;
    background-color: white;
    border: 1px solid black;
  }
  
  .inputasoc {
    width: 70%;
  }
  
  .boxForm label {
    font-size: 20px;
    color: cadetblue;
    font-weight: bold;
  }
  
  .botonEnviar {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-evenly;
  }
  